.body1{
    font-family:"Open Sans",sans-serif;
    font-optical-sizing:auto;
    font-style:normal;
    font-variation-settings:
       "wdth" 100;
}
.signin-button{
    color:#006A50;
    font-weight:600;
    font-size:20px;
    /*color:blue;*/
    padding:10px 25px;
    border-radius:18px solid #006A50;
    margin-top:28px;
    margin-bottom:24px;
    border:none;


}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 10px 800px;
}
.heading-title{
    font-weight:700;
    font-size:20px;
}

nav ul{
    display:flex;
    align-items:center;
}
nav ul li{
    list-style:none;
    margin-right:50px;
}
nav li a{
    text-decoration:none;
    font-size:20px;
}
.header{
    background-color:#b5d5c6;
    /*padding:30px;
    border-radius:10px;
    width:70%;
    */
    max-width:1463px;
    
}
.heading-box{
    display:flex;
    margin:16px auto;
    padding:0px 160px;
    background-color:#F1F1F3;
    justify-content:space-between;
    
}
.banner{
    display:flex;
    justify-content:20px;
    margin: 0 0px 0 30px;
    width:fit-content;
    margin-left:160px;
    margin-right:140px;
    margin-top:10px;
    border-radius:24px;
    padding:55px;
    gap:62px;
    place-items:center;
}
.banner-profile-pic{
    width:330px;
    margin:0 0px 50px 10px
}
.banner-content{
    max-width:570px;
    font-size: 20px;
    color:#686666;
}
.banner-greetings{
    font-weight:bold;
    font-size:37px;
    margin-top:15px;
    margin-bottom:22px;
    text-decoration:#0E0E0E;
    
}
.banner-title{
    font-weight:500px;
    font-size:24px;
    color:#686666;
}
.banner-bottom{
    background-color:#216b59;
    margin-bottom:113px;
   /* font-weight:normal;*/
    font-weight:650px;
    font-size:20px;
    color:white;
    padding:5px 15px;
    border-radius:5px;
    border:none;
}
